:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0;
}
h2 {
  margin: 0;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

input[type="text"],
button {
  height: 42px;
  border: 1px solid transparent;
  background-color: #1a1a1a;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  padding: 0 20px;

  &:hover {
    border-color: #646cff;
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}
button {
  display: flex;
  align-items: center;

  &._size {
    &-small {
      height: 22px;
      padding: 0 8px;
      background: #000;
      border-radius: 4px;
      font-size: 0.7em;
    }
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button, input {
    background-color: #f9f9f9;
  }
}

.app {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 400px;
  width: 100%;
  padding: 24px 0;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__form {
    display: flex;
    align-items: center;
    gap: 12px;

    &-input {
      width: 100%;

      input {
        width: 100%;
      }
    }
  }
}

.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1a1a1a;
  border-radius: 8px;
  padding: 0.6em 1.2em;
  gap: 48px;
  transition: opacity 0.25s;

  &._checked {
    opacity: 0.5;
  }

  &__start,
  &__end {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  
  &__start {
    gap: 2px;
  }
  &__end {
    gap: 8px;
  }

  &__id {
    display: block;
    width: 100%;
  }
}
